.intro{
    display: flex;
    margin-top:7%;
}
h1{
    color:#FF6366;
    opacity: 0.9;
}
h2, h3{
    color: #FF6366;
    opacity: 0.8;
}
img{
    width:500px;
    padding-right:5%;
}
.col1{
    padding-left:5%;
    flex:1;
}